.btn-outline-lightgray-custom{
    width: 150px;
    height: 48px;
    border-color: #DBDFD0;
    &:focus{
        box-shadow: none;
    }
    &.active{
        background-color: #AD343E;
        color: white;
    }
}
.card-image{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.delivery-btn{
    &:hover{
        transform: scale(1.2);
    }
}
.img-100{
    padding-top: 0px !important;
    margin-top: 0 !important;
    padding-left: 49.3%;
    padding-right: 51.3%;
    padding-bottom: 75%;
    border-radius: 16px 16px 0px 0px  !important;
}
.scroll-Y{
    overflow-y: auto;
    overflow-x: hidden;
    height: 500px;
}
.scroll-Y::-webkit-scrollbar{
    pointer-events: none;
}
.custom_card{
    margin-left: 10px;
    border: 1px solid rgba(0, 0, 0, 0.125) ;
}
.option-btn{
    margin-top: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.resize-none{
    resize: none;
}